.top-header-container {
    .header-container {
        padding: 0 60px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #eee;
    }
    .right-btn {
        text-align: right;
    }
    .nav-bar {
        height: 56px;
        line-height: 56px;
        padding: 0 60px;
    }
    .logo-img {
        width: 120px;
        height: 56px;
    }
}