.common-button-container {
  .common-button {
    background-color: #f2f7f2;
    border: none;
    border-radius: 17px;
    color: #333;
    &:hover {
      color: #333;
      background-color: #d5e0d5;
    }
    &.emphasize-btn {
      background: #14a900;
      color: white;
      &:hover {
        background: #3c8224;
        color: #fff;
      }
    }
  }
}
