.nav-list-child {
  z-index: 99;
  display: none;
  white-space: nowrap;
  background-color: #fff;
  padding: 16px 34px;
  min-width: 66px;
  position: absolute;
  left: -50%;
  top: 55px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
  border-radius: 6px;
  .nav-list-child-li {
    line-height: 46px;
    font-size: 16px;
    a {
      color: #222;
      &:hover {
        color: #14a900;
      }
    }
    .other-label-style {
      color: #c3c3c3;
      line-height: 26px;
    }
    .nav-list-child-li-child {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
