.home-page-container {
    .header-container {
        padding: 0 60px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #eee;
    }
    .right-btn {
        text-align: right;
        button {
            background-color: #f2f7f2;
            border: none;
            border-radius: 17px;
            padding-left: 20px;
            padding-right: 20px;
            color: #333;
            &:hover {
                color: #333;
                background-color: #D5E0D5;
            }
        }
        .register-btn {
            background: #14A900;
            color: white;
            &:hover {
                background: #3C8224;
                color: #fff;
            }
        }
    }
    .home-body {
        padding: 0 60px;
        .nav-bar {
            height: 56px;
            line-height: 56px;
            b {
                color: #222;
                font-size: 16px;
            }
            .ant-list {
                height: inherit;
                line-height: inherit;
            }
        }
        .logo-img {
            width: 120px;
            height: 56px;
        }
    }
}